<mat-card>
  <form (submit)="onAppPost(postForm)" #postForm="ngForm">
    <mat-form-field>
      <input
        matInput
        type="text"
        name="title"
        ngModel
        required
        #title="ngModel"
      />
      @if (title.invalid) {
      <mat-error>Please enter a post title</mat-error>
      }
    </mat-form-field>
    <mat-form-field>
      <textarea
        matInput
        rows="6"
        name="content"
        ngModel
        required
        #content="ngModel"
      ></textarea>
      @if (title.invalid) {
      <mat-error>Please enter a post content</mat-error>
      }
    </mat-form-field>
    <button mat-raised-button color="primary" type="submit">Save Post</button>
  </form>
</mat-card>
